body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: verdana;
}

input{
    text-align: center;
    width: 50px;
    border-radius: 20px;
}

a{
    font-size: 1.4rem;
    background: orange;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}